.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer {
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
  background-image: radial-gradient(at 30% top, #031d33 0%, rgba(3,37,65) 70%);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.footer nav {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}

.footer nav div {
  margin-right: 40px;
  min-width: 0;
  box-sizing: border-box;
}

.footer nav a.rounded {
  position: relative;
  top: 140px;
  border-color: #fff;
  background-color: #fff;
  color: rgba(3,37,65);
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  text-transform: uppercase;
}

.color-change {
  background-image: radial-gradient(at 30% top, #031d33 0%, rgba(3,37,65) 70%);
}

.navbar-dark .navbar-nav a.nav-link:focus, 
.navbar-dark .navbar-nav a.nav-link:hover {
  color: white;
}

.navbar,
.navbar-default{
  color:white;
}


.style-ul{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

.style-li{
 width: 15%;
 margin-right: 20px;
}

.div-image{
  background-image: linear-gradient(to right, rgba(31.5, 31.5, 10.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 10.5, 0.84) 50%, rgba(31.5, 31.5, 10.5, 0.84) 100%);
}

.row {
  color: white;
}

.row-border-top {
  border-top: 1px solid #d7d7d7;
  padding: 30px 0;
}

.row-border-top h3 {
  color: black;
}

.circle-image .card-img-top { 
  height: 64px;
  width: 64px !important;
  border-radius: 50%;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
  margin-right: 20px;
}

.card-top {
  display: flex;
  align-items: center;
}

.row .card-title {
  margin: 0;  
}

.row .card-title a {
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 1.3em;
}

h8 p {
  font-family:'Source Sans Pro', Arial, sans-serif;
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 0.9em;
}
.row h8 p a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.row.recommendations .card-img-top {
  height: 220px;
}

.row.recommendations .card-body {
  padding: 0;
  margin-top: 4px;
}

.row.recommendations .card-body a {
  text-decoration: none;
}

.row.recommendations .card-body a:hover {
  color: black;
}

.row.recommendations .card-body p.card-text {
  display: flex;
  justify-content: space-between;
}

.card-body.card-review {
  margin-left: 84px;

  padding: 0;
  padding-top: 1.5rem;
}

.card-title a > span {
  background-color: black;
  color: white;
  padding: 1px 8px;
  margin-left: 14px;
  font-size: 0.9em;
  border-color: black;
  border-radius: 8px;
}

.card-title a span svg {
  display: inline-block;
}

.card-title a span > span {
  vertical-align: top;
}

.card-title a span + span {
  vertical-align: baseline;
}

.row a {
color: black;
}

.row a:hover{
  color:gray;
}

.row ul {
  padding-left : 0px;
}

.row ul li a {
  color: white;
}

form a {
  color: #3498db;
  text-decoration: none;
}

form a:hover {
  color: #3498db;
  text-decoration: underline;
}

.benefits-card {
  width: 258px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: 1px solid rgba(227,227,227);
  background-color: #fff;
}
.benefits-card .row-1 {
  background-color: #3498db;
  color: white;
  padding: 20px;
  font-weight: 600;
}

.benefits-card .row-2 {
  padding: 8px 0;
}

.benefits-card div.row-2 div {
  display: flex;
  justify-content: right;
}

.benefits-card .row-2 div:hover {
  background-color: rgb(128, 128, 128, 0.1);
}

.benefits-card div.row-2 div span:first-of-type {
  text-align: right;
  padding-right: 8px;
}

.benefits-card div.row-2 div span:last-of-type {
  width: 85%;
}

.column-wrapper {
  display: flex;
}

.register {
  padding-left: 30px;
}

.style-ul-person{
  display: flex;
  color: black;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;

}

.style-li-person{
  margin-right: 30px;

}

.grey-column {
  max-width: 126px;
}

.card.current-season {
  display: flex;
  flex-direction: row;
}

.card.current-season .card-img-top {
  min-width: 130px;
}

.row.gutter {
  --bs-gutter-x: 0;
}

.card.current-season h2 a {
  text-decoration: none;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.card.current-season h4 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.season-overview {
  margin-top: 20px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
}