.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer {
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
  background-image: radial-gradient(at 30% top, #031d33 0%, rgba(3,37,65) 70%);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.footer nav {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}

.footer nav div {
  margin-right: 40px;
  min-width: 0;
  box-sizing: border-box;
}

.footer nav a.rounded {
  position: relative;
  top: 140px;
  border-color: #fff;
  background-color: #fff;
  color: rgba(3,37,65);
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  text-transform: uppercase;
}

.color-change {
  background-image: radial-gradient(at 30% top, #031d33 0%, rgba(3,37,65) 70%);
  color: #fff !important;
}

.nav-dropdown{
  color:white;
  font-weight: bold;
  background-color : white;
}

.navbar,
.navbar-default{
  color:white;
}


.style-ul{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

.style-li{
 width: 15%;
 margin-right: 20px;
}

.div-image{
  background-image: linear-gradient(to right, rgba(31.5, 31.5, 10.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 10.5, 0.84) 50%, rgba(31.5, 31.5, 10.5, 0.84) 100%);
}

.row {
  color: white;
}

.row a {
color: white;
}

.row a:hover{
  color:gray;
}

.row ul {
  padding-left : 0px;
}


